body{margin: 0px;
    background-color: rgb(226, 240, 234);
    font-family: 'Spinnaker', sans-serif;   
}
header{margin:auto;
width:95%;
height:30px;
align-items: center;
display:flex;}

header img{
    height: 30px;
}

.prestation{ width: 95%;
    align-items: center;
    display: flex;
    margin:auto;
    
}
.menu{display:flex;
    flex:2;
    list-style:none;
    justify-content: space-around;
}
.x{ 
    border: solid 1px #782612;
    padding: auto;
    text-align:center;
    
    width:100px;
    height:50px;
}
.x a{text-decoration: none;
    color: #782612;}
.y{ 
    background-color:#782612; ;
    padding: auto;
    border: none;
    text-align:center;
    color: rgb(226, 240, 234);
    width:100px;
    height:50px;
}
.y a{text-decoration: none;
    color: rgb(226, 240, 234);}
.center{
flex:1;
}
.image{height:480px;
    width:750px;
    float:right;
    box-shadow: 10px 10px lightgrey;
    margin: 50px 0px 0px 0px ;
    animation: drop 1.9s;
}

ul li a{
    text-decoration:  none;
    color: black;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateX(-90px);
    }
100%{
    opacity: 1;
    transform: translateX(0px);
}
}
@media screen and (max-width:1120px){
body section{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
header{
    width: 95%;
    margin: auto;
}
.image{
    width: auto;
    height: 360px;
}
.center{text-align: center;}



}
@media screen and (max-width:580px){
   ul li a{
        display: none;
    }
    section{flex-direction: column;}
    .image{
        width: 100%;
        
    }
    header{
        width: 100%;
        
    }
}

